*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  color: #ad8b73;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e3caa5;
}

.container{
  text-align: center;
}

.container h2{
  font-size: 2vw;
  font-family: 'Lato';
  margin-bottom: 40px;
  letter-spacing: 1.2px;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

form select{
  width: 450px;
  padding: 15px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
  cursor: pointer;
}

.submit-button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer;
  border-radius: 20px; 
}

.submit-button:hover {
  background-color: orangered; 
}

.underline-input {
  width: 450px;
  padding: 15px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
  cursor: pointer;
}

